{%extends 'index/base.html' %}
{%load static%}

{%block links%}
{%endblock links%}

{%block body%}
<div class="row align-items-md-stretch" id="blog-panel">

</div>
{%endblock body%}
{%block scripts%}
<script>
  $(document).ready(function() {
      setInterval(function(){
          $.ajax({
              type:"GET",
              url: "{%url 'bloglist' %}",
              success: function(response){
                  $('#blog-panel').empty();
                  console.log(response.contents)
                  for (var info in response.contents){
                      var card = `
                      <div class="col-md-6 mt-3 px-4 py-2">
                      <div class="h-100 p-5 text-white bg-dark rounded-3">
                        <h2>${response.contents[info].title}</h2>
                        <p class="px-3">${response.contents[info].updated}</p>
                      </div>
                    </div>
                      `
                      $("#blog-panel").append(
                          card
                      );
                  }
              },
              error: function(response){
                  console.log(response);
              }
          });

      }, 2000)
  })
</script>
{%endblock scripts%}