{%extends 'index/base.html' %}
{%load static%}
{%block title%}Services{%endblock title%}
{%block links%}
 <style>
    .overlord-row{
        display: grid;
        grid-template-columns: auto 50%;
        grid-template-rows: 40% auto;
        grid-template-areas: "cleft cright";
        text-align: center;
    }

    .column-1{
        grid-area: cleft;
        background-color: #fff;
    }

    .column-2{
        grid-area: cright;
        background-color: beige;
    }

    .column-2, .column-1{
        height:74vh;
    }

    .column-1 .big-text {
        margin: 4rem 0rem 0rem 0rem;
    }


    .link-container{
        padding: 1.5rem;
        position: relative;
        margin: 13rem 0rem 1rem;
    }
 </style>
{%endblock links%}
{%block body%}
<div class="overlord-row mt-2">
    <div class="column-1">
        <div class="big-text">
            <h2 class="display-3 fw-bold">
                What we do
            </h2>
        </div>
    </div>
    <div class="column-2">
        <div class="link-container">
            <div class="link-text fs-4 fw-bold">
                Lets Go...
            </div>
            <div class="link-but">
                <a href="#" class="but">Get Started</a>
            </div>
        </div>
    </div>
</div>
{%endblock body%}
{%block scripts%}
<script>
    function textVisible(){
        var serviceText = document.querySelectorAll('.serve-texts')
        var screenCoordinates = window.innerHeight / 1.3;
        serviceText.forEach(element => {
            var textCoordinate = element.getBoundingClientRect().top;
            if(textCoordinate < screenCoordinates){
                element.classList.add('serve-text2')
            }else{
                element.classList.remove('serve-text2')
            }
        });
    }

        window.addEventListener('scroll', textVisible)
</script>
{%endblock scripts%}